{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/admin/showData.css') }}" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}


{% block body %}
<div class="container">
    <center>

        <div class="form">
            {{form_start(searchForm)}}
            {{ form_errors(searchForm) }}
            <div class="inputs">
                <div class="input">
                    {{form_row(searchForm.type)}}
                </div>
                <div class="input">
                    {{form_row(searchForm.local)}}
                </div>
                <div class="input">
                    {{form_row(searchForm.frequence)}}
                </div>
                <div class="input">
                    <button type="submit">Search</button>
                </div>
                <div class="input" id="downloadBtn">
                    <a href="{{path('downloadData')}}">Download pdf</a>
                </div>
            </div>

            {{form_end(searchForm)}}
        </div>

        {% if co2DataValue|length > 2%}
            <div class="charts">
                <canvas id="pieChart"></canvas>
            </div>
            <div class="charts">
                <canvas id="co2Chart"></canvas>
            </div>
            {% endif %}
            {% if humidityDataValue|length > 2%}
            <div class="charts">
                <canvas id="humidityChart"></canvas>
            </div>
            {% endif %}
            {% if temperatureDataValue|length > 2%}
            <div class="charts">
                <canvas id="temperatureChart"></canvas>
            </div>
        {% endif %}
        
        <div class="datas">
            <h1>Tab of data</h1>
            <hr>
            <table>
                <tr>
                    <th>Valeur</th>
                    <th>Type</th>
                    <th>Local</th>
                    <th>N°Capteur</th>
                    <th>Date</th>
                </tr>
                {% if datas == null %}
                    <tr>
                        <td colspan="6">
                            No data
                        </td>
                    </tr>
                {% else %}
                    {% for data in datas %}
                    <tr>
                        {% if data.type.value == "CO2" %}
                        <td>{{data.value}} ppm</td>
                        {% endif %}
                        {% if data.type.value == "Humidity" %}
                        <td>{{data.value * 100}} %</td>
                        {% endif %}
                        {% if data.type.value == "Temperature" %}
                        <td>{{data.value}} °C</td>
                        {% endif %}
                        <td>{{data.type.value}}</td>
                        <td>{{data.local}}</td>
                        <td>{{data.sensorNbr}}</td>
                        <td>{{data.sendedAt |date('d-m-Y G:i')}}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </center>
</div>


{% endblock %}

{% block javascripts %}

<script src="{{ asset('js/filtres.js') }}"></script>

<script>
    let co2Categories = document.querySelector("#co2Chart")
    let co2categGraph = new Chart(co2Categories, {
        type: "line",
        data: {
            labels: {{ co2Date| raw }},
    datasets: [{
        label: "C0²",
        data: {{ co2DataValue| raw }},
        backgroundColor: "rgba(102, 192, 210, 1)"
            }]
        },
    options: {
        maintainAspectRatio: true,
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    min: 0,
                    max: 3000
                }

            }]
        }
    }
    })
</script>

<script>
    let humiditycategories = document.querySelector("#humidityChart")
    let humiditycategGraph = new Chart(humiditycategories, {
        type: "line",
        data: {
            labels: {{ humidityDate| raw }},
    datasets: [{
        label: "Humidity",
        data: {{ humidityDataValue| raw }},
        backgroundColor: "rgba(102, 192, 210, 1)"}]
        },
    options: {
        maintainAspectRatio: true,
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    min: 0,
                    max: 1
                }

            }]
        }
    }
    })
</script>

<script>
    let temperatureCategories = document.querySelector("#temperatureChart")
    let temperatureCategGraph = new Chart(temperatureCategories, {
        type: "line",
        data: {
            labels: {{ temperatureDate| raw }},
    datasets: [{
        label: "Temperature",
        data: {{ temperatureDataValue| raw }},
        backgroundColor: "rgba(102, 192, 210, 1)"
            }]
        },
    options: {
        maintainAspectRatio: true,
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    min: -20,
                    max: 50
                }

            }]
        }
    }
    })
</script>

<script>
    let pieCategories = document.querySelector("#pieChart")
    let pieCategGraph = new Chart(pieCategories, {
        type: "doughnut",
        data: {
            labels: ["<600", ">600 & < 900", ">900"],
            datasets: [{
                data: [{{ goodCo2Counter }}, {{ midCo2Counter }}, {{ badCo2Counter }}],
            backgroundColor: ["green", "orange", "red"] 
            }]
        },
    options: {
        maintainAspectRatio: true,
                
        }
    })
</script>
{% endblock %}